<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <link rel="shortcut icon" href="/icono.png" type="image/x-icon">
    <title>Pagina Principal</title>
</head>
<body>
    <h1>Inicio de pagina Principal</h1>
    <h3>Joaquin Alberto Castillo Ramirez</h3>

    <img src="icono.png" alt="">
    <br><br>

    <a href="QR">Ingresar para generar un QR</a>
    <br><br>

    <a href="Calculadora">Ingresar a la Calculadora</a>
</body>
</html>